<h1 class="text-center">Ny org</h1>
<div class="row">
  <%= form_for @organization, html: { class: 'col-md-6 mx-auto'} do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %><br>
    </div>

    <h2>Din bruger</h2>
    <%= f.fields_for @employee do |u| %>
      <div class="form-group">
        <%= u.label :email %>
        <%= u.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= u.label :firstname %>
        <%= u.text_field :firstname, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= u.label :lastname %>
        <%= u.text_field :lastname, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= u.label :password %>
        <%= u.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= u.label :password_confirmation %>
        <%= u.password_field :password_confirmation, class: 'form-control' %>
      </div>
    <% end %>

    <%= f.submit %>
  <% end %>
</div>